@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

ion-content {
    font-family: 'Montserrat', sans-serif;
}

ion-title {
	font-size: 30px;
}

span.plus {
	color: green;	
}

span.minus {
	color: red;	
}
