<ion-content color="light">

  <ion-toolbar color="tertiary">
    <div class="title ion-text-center">
      <span class="first">MONEY</span><span class="secundary">2U</span>
    </div>
  </ion-toolbar>

  <br>
  
  <ion-list lines="none" class="zero" routerLink="/transactions">
    <h1 class="ion-text-center">Saldos</h1>

    <ion-item>
      <ion-text slot="start">
        Positivos
      </ion-text>
      <ion-text class="drin" color="success" slot="end">
        R${{totalP}},00
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text slot="start">
        Negativos
      </ion-text>
      <ion-text class="drin" color="danger" slot="end">
        R${{totalM}},00
      </ion-text>
    </ion-item>
    <div class="traço"></div>
    <ion-item>
      <ion-text slot="start">
        Total
      </ion-text>
      <ion-text class="drin" color="tertiary" slot="end">
        R${{totalP-totalM}},00
      </ion-text>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button size="small" color="tertiary">
      <ion-icon name="aperture"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="medium" [routerLink]="['/plus']"><ion-icon name="add-sharp"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button color="medium" [routerLink]="['/minus']"><ion-icon name="remove-sharp"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>  
</ion-content>
