<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/feed">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title color="light" class="ion-text-center">Entrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Tipo</ion-label>
    <ion-input type="text" [(ngModel)]="plusTransition.type" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descrição</ion-label>
    <ion-input type="text" [(ngModel)]="plusTransition.desc" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Data</ion-label>
    <ion-datetime [(ngModel)]="plusTransition.date" min="2020" max="2030-12-31" display-timezone="utc" pickerFormat="DD/MM/YYYY" displayFormat="DD/MM/YYYY"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Valor</ion-label>
    <ion-input type="number" onkeypress="return event.charCode >= 48" [(ngModel)]="plusTransition.amount" required></ion-input>
  </ion-item>

  <ion-button class="ion-padding" color="tertiary" expand="full" (click)="create(plusTransition)">Criar</ion-button>

</ion-content>