<ion-tabs>

  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button tab="feed">
      <ion-icon name="swap-horizontal-outline"></ion-icon>
      <ion-label>Fluxo de Caixa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="graphics">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Gestão</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="goals">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Objetivos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>