<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Editar Entrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Tipo</ion-label>
    <ion-input type="text" [(ngModel)]="plusTransition.type" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descrição</ion-label>
    <ion-input type="text" [(ngModel)]="plusTransition.desc" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Data</ion-label>
    <ion-datetime [(ngModel)]="plusTransition.date" min="2020" max="2030-12-31" display-timezone="utc" pickerFormat="DD/MM/YYYY" displayFormat="DD/MM/YYYY"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Valor</ion-label>
    <ion-input type="number" [(ngModel)]="plusTransition.amount" required></ion-input>
  </ion-item>

  <ion-button class="ion-padding" color="primary" expand="full" (click)="update(plusTransition)">Editar</ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/tabs/feed']" color="primary">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
